@font-face {
    font-family: "LazenbyCompSmooth";
    src: url("../resources/fonts/LazenbyCompSmooth.ttf");
}

body {
    font-family: LazenbyCompSmooth;
    margin: 0;
    padding: 0;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

video {
    width: 100%;
    height: auto;
}

.controls {
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: cyan;
}

.progress-bar {
    flex: 1;
    height: 10px;
    background: #555;
    margin: 0 10px;
    cursor: pointer;
}

.progress {
    height: 100%;
    width: 0%;
    background: #f00;
}

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}
